# dependencies
*node_modules/

# build artifacts you do not want in git
*.zip
*.log
*.map
.zip

# wordpress env
.wp-env.override.json

# git internals inside nested folders, if any
**/.git

# plugin dev files
**/build/
**/webpack.config.js
**/webpack.config.*
**/.eslintrc
**/.eslintrc.*
**/.prettierrc
**/.prettierrc.*

# OS / editor
.DS_Store
Thumbs.db
.vscode/